<h2 id="events">Events</h2>

<!--<div style="padding-bottom: 20px;">
    <h3>February Open Houses</h3>
    <p>Saturday, February 3, 10, 17, 24 from 2:00 to 4:00 pm</p>
    <p>Check out our new makerspace and meet our members! Make 2024 the best year every by joining our makerspace: we're fully equipped for woodworking, pottery, fibre arts, CNC and more. Meet our members, and learn about the perks of becoming a maker at Meta Makers.</p>
    <p><a href="#contact" style="text-decoration: underline;">Click here to contact us</a> to schedule a tour at another time.</p>
</div>-->
<div style="padding-bottom: 20px;">
    <h3>Grand Opening!</h3>
    <p>You're invited to our Grand Opening: Saturday, May 25th 2-4pm</p>
    <p>628 Monmouth Road</p>
    <p>Free</p>
    <p>You're invited to our Grand Opening on Saturday, May 25th from 2-4pm! Come and see what Windsor-Essex's only community makerspace has to offer.</p>
    <p>A makerspace is like a shared community workshop where you can access tools and resources for making things. At our grand opening, you'll see our members demo the creative activities they enjoy doing at the makerspace: 3D printing, Fibre Arts, Letterpress printing, CNC, Woodworking, Stained Glass and more! What you would make at Meta Makers?</p>
    <p>This event is also an important milestone for us: we opened our doors in 2019, survived the pandemic, and now we're celebrating a grand opening in a larger space with new equipment funded by the Government of Canada under the Community Services Recovery Fund (CSRF). You'll see our new CNC machine, laser engraver, 3D printers, and more. We want all of Windsor-Essex to see that these resources are available to them at Meta Makers!</p>
    <img src="https://metamakers.org/assets/images/grand-opening.png" width="800px" />
</div>
<style> 
    
@media (min-width: 800px) {
    .resp-calendar-container {
        padding-top: 56.25%;
    }
 
}
    
@media (min-width: 500px) and (max-width: 799px) {
    .resp-calendar-container {
        padding-top: 75%;
    }
 
}
    
@media (min-width: 460px) and (max-width: 499px) {
    .resp-calendar-container {
        padding-top: 100%;
    }
}
    
@media (min-width: 320px) and (max-width: 459px) {
    .resp-calendar-container {
        padding-top: 133%;
    }
}
    
 
@media (max-width: 319px) {
    .resp-calendar-container {
        padding-top: 177%;
    }
}
    
    
.resp-calendar-container {
    position: relative;
    overflow: hidden;
}

.resp-calendar-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
  
<div class="resp-calendar-container">  
<iframe class="resp-calendar-iframe" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=bTJjLm1lbWJlcnNoaXBAZ21haWwuY29t&amp;color=%23039BE5&amp;showTitle=0&amp;showNav=1&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;title&amp;showDate=1" style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
