<h2 id="events">Events</h2>


<div style="padding-bottom: 20px;">
    <h3>Makerspace Open House</h3>
    <p>Saturday, January 11, 18, 25 from 2:00 to 4:00 pm</p>
    <p>Saturday, February 1, 8, 15, 22 from 2:00 to 4:00 pm</p>
    <p>Make 2025 the best year ever by joining our makerspace: we're fully equipped for woodworking, 3D printing, laser engraving, fibre arts, CNC and more. What would you make at Meta Makers? At the open house from 2-4pm, see our facilities, meet our members, and learn about the perks of becoming a maker at Meta Makers.</p>
    <p><a href="#contact" style="text-decoration: underline;">Click here to contact us</a> to schedule a tour at another time.</p>
</div>
<div style="padding-bottom: 20px;">
    <h3>CNC Training Course</h3>
    <p>Starting February 23rd</p>
    <p>Meta Makers is offering a CNC and Mastercam training course. The course teaches introductory 2D programming using Mastercam. The programmed project will then be cut by the student on our CNC router.</p>
    <p>The next opening will be starting February 23rd and running for 4 weeks. The classes start at 10:00 am and last 5 hours.</p>
    <p>Cost for members is $150.00. Non members cost is $450.00, which includes a 3-month membership, and 10 free hours assisted machine time. Some conditions apply.</p>
    <p>To enroll in the course email <a href="mailto:info@metamakers.org">info@metamakers.org</a> or talk to one of our directors.</p>
</div>
<style> 
    
@media (min-width: 800px) {
    .resp-calendar-container {
        padding-top: 56.25%;
    }
 
}
    
@media (min-width: 500px) and (max-width: 799px) {
    .resp-calendar-container {
        padding-top: 75%;
    }
 
}
    
@media (min-width: 460px) and (max-width: 499px) {
    .resp-calendar-container {
        padding-top: 100%;
    }
}
    
@media (min-width: 320px) and (max-width: 459px) {
    .resp-calendar-container {
        padding-top: 133%;
    }
}
    
 
@media (max-width: 319px) {
    .resp-calendar-container {
        padding-top: 177%;
    }
}
    
    
.resp-calendar-container {
    position: relative;
    overflow: hidden;
}

.resp-calendar-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
  
<div class="resp-calendar-container">  
<iframe class="resp-calendar-iframe" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=bTJjLm1lbWJlcnNoaXBAZ21haWwuY29t&amp;color=%23039BE5&amp;showTitle=0&amp;showNav=1&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;title&amp;showDate=1" style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
