<div class="card">
  <img src="/assets/images/gear-wall.png" class="card-img-top" alt="Gear Wall Concept">
  <div class="card-body">
    <h5 class="card-title">“Gearing Up” Growth Campaign</h5>
    <p class="card-text">Meta Makers is moving to a new and improved facility. Help make state-of-the-art technology accessible to the community by contributing to our new interactive gear wall!</p>
    <a href="/gear-up" class="btn btn-primary" style="background-color:#159957;border-color:#159957">Learn More</a>
  </div>
</div>

<div class="card" style="margin-top: 20px;">
  <img src="/assets/images/csrf-logo.png" class="card-img-top" alt="CSRF Funded by the Government of Canada">
  <div class="card-body">
    <h5 class="card-title">Meta Makers Cooperative Growth and Innovation Initiative Receives CSRF Funding</h5>
    <p class="card-text"><b>Windsor, ON</b> - Meta Makers Cooperative (M2C) is receiving a $60,000 grant to improve and modernize their facilities funded by the Government of Canada under the Community Services Recovery Fund (CSRF).</p>
    <a href="/gear-up" class="btn btn-primary" style="background-color:#159957;border-color:#159957">Learn More</a>
  </div>
</div>

<h2 id="events">Events</h2>
<!--<div style="padding-bottom: 20px;">
    <h3>Community Make-It Series: DIY Arduino-Controlled Jack-o'-Lantern Class</h3>
    <p>Monday, October 16th, 2023 from 7:00 to 9:00 pm</p>
    <p>628 Monmouth Road</p>
    <p>Free</p>
    <p>Adults (18+)</p>
    <p>Registration Required. Email by Oct 15: <a href="mailto:makeit@metamakers.org">makeit@metamakers.org</a></p>
    <p>In this free 2-hour workshop, come to Meta Makers to make a spooky jack-o'-lantern with animated eyes! This is a fun, beginner-friendly electronics class where you will learn to write code and solder all of the wires together.  We'll use an Arduino micro-controller and an LED dot matrix display for the project -- but don't worry if you don't know what that is because we will explain everything : ) </p>
    <p>This class is part of the Meta Makers Cooperative Community Make-It Series: a series of free-to-attend community arts classes on the first Monday of each month from June to December.  The Make-It series is funded by the City of Windsor Arts, Culture and Heritage Fund (ACHF).</p>
    <img src="https://metamakers.org/assets/images/pumpkin-class.png" width="800px" />
</div>
<div style="padding-bottom: 20px;">
    <h3>October Open Houses</h3>
    <p>Saturday, October 14 and 28 from 2:00 to 4:00 pm</p>
    <p>Bring a friend for a tour of the makerspace, meet our members, and learn about the perks of becoming a maker at Meta Makers.</p>
    <p><a href="#contact" style="text-decoration: underline;">Click here to contact us</a> to schedule a tour at another time.</p>
</div>-->
<style> 
    
@media (min-width: 800px) {
    .resp-calendar-container {
        padding-top: 56.25%;
    }
 
}
    
@media (min-width: 500px) and (max-width: 799px) {
    .resp-calendar-container {
        padding-top: 75%;
    }
 
}
    
@media (min-width: 460px) and (max-width: 499px) {
    .resp-calendar-container {
        padding-top: 100%;
    }
}
    
@media (min-width: 320px) and (max-width: 459px) {
    .resp-calendar-container {
        padding-top: 133%;
    }
}
    
 
@media (max-width: 319px) {
    .resp-calendar-container {
        padding-top: 177%;
    }
}
    
    
.resp-calendar-container {
    position: relative;
    overflow: hidden;
}

.resp-calendar-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
  
<div class="resp-calendar-container">  
<iframe class="resp-calendar-iframe" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=bTJjLm1lbWJlcnNoaXBAZ21haWwuY29t&amp;color=%23039BE5&amp;showTitle=0&amp;showNav=1&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;title&amp;showDate=1" style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
