---
---

@import "{{ site.theme }}";

@media (max-width: 650px) {
  .project-logo{
    height:100px;
  }
  .project-title {
    padding: 60px;
  }
}

@media (min-width: 651px) {
  .project-logo{
    height:240px;
  }
}

@media (min-width: 651px) and (max-width: 1250px) {
  .project-title {
    padding: 80px;
  }
}

@media (max-width: 1250px) {
  .carousel-inner{
    max-height:400px;
  }
}

@media (min-width: 1251px) {
  .carousel-inner{
    max-height:500px;
  }
  .project-title {
    padding: 130px;
  }
}
