---
---

@import "{{ site.theme }}";

@media only screen and (max-width: 480px) {
  .project-logo{
    height:100px;
  }
  .project-title {
    padding: 80px;
  }
}

@media only screen and @media(min-width: 481px) {
  .project-logo{
    height:240px;
  }
  .project-title {
    padding: 60px;
  }
}
